.results {
  margin-top: 20px;
  text-align: left;
}

.results ul, .results .nested {
  list-style-type: none;
  padding-left: 0;
}

.results li {
  margin-bottom: 10px;
}

.nested {
  margin-left: 20px;
  color: green; /* Green color for nested items */
}

.passed {
  color: green;
  font-weight: bold;
}

.failed {
  color: red;
  font-weight: bold;
}

.pending {
  color: orange;
}


.overall-result {
  font-size: 18px;
  margin-top: 15px;
}

.overall-result.passed {
  color: green;
}

.overall-result.failed {
  color: red;
}

.progress-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  margin: 20px 0;
}

.progress-bar-fill {
  height: 20px;
  background-color: #4CAF50; /* Green */
  text-align: center; /* Center the text (if any) inside the bar */
  line-height: 20px; /* Align the text vertically */
  color: white;
  width: 0%; /* Initial width */
  border-radius: 5px;
}


.expand-toggle {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  padding-left: 5px;
}

.nested {
  list-style: none;
  padding-left: 20px;
}

.nested li {
  margin-top: 5px;
  font-size: 14px;
}

.nested small {
  font-size: 12px;
  color: gray;
}
